<h1>Nos chambres</h1>

<p>Découvrez les différentes catégories de chambres que nous proposons :</p>

<ul>
  <li>Chambre Classique</li>
  <li>Chambre Double</li>
  <li>Suite Junior</li>
  <li>Suite Présidentielle</li>
</ul>

<a href="/">← Retour à l’accueil</a>
